#navigation {
	overflow: hidden;
	background-color: #333;
}

#navigation a {
	float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

#navigation ul {
	margin: 7px 0 0 0;
	padding: 0;
	list-style-type: none;
}

#navigation ul li {
	display: inline;
}

#navigation ul li a {
	padding: 10px;
}

#navigation ul li a:hover {
	background-color: #ddd;
    color: black;
}
.square {
	width: 430px;
	float: left;
	padding: 15px;
}
.content{
    height: 500px;
    width: 100%;
    border: 1px solid #ccc;
}
/* Style the tab */
.verticalTabs {
	float: left;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 15%;
	height: 500px;
}

/* Style the buttons that are used to open the tab content */
.verticalTabs button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
}

/* Change background color of buttons on hover */
.verticalTabs button:hover {
	background-color: #ddd;
}

/* Create an active/current "tab button" class */
.verticalTabs button.active {
	background-color: #ccc;
}
.tab_content {
    width: 95%;
    height: 100%;
}
.chat_container {
    height: 500px;
    overflow: auto;
}
.top_name{
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    background: #f1f1f1;
    text-align: center;
    position: sticky;
    top: 0;
}
.message_box_received{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;

}
.message_box_sent{
    border-color: #ccc;
    background-color: #ddd;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}
.send_message_form{
	border: none;
	font-size: 16px;
    width: 100%;
    position: sticky;
    bottom: 0;
}
input[type=text] {
    width: 85%;
    padding: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    background: #f1f1f1;
}
.submit_button {
    background-color: #2364af;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 10%;
    float: right;
}

